.AssetIndex .ant-card-body {
  padding: 10px;
}

.course-detail .ant-layout-header {
  -webkit-app-region: no-drag;
}

.ant-layout-header {
  -webkit-app-region: drag;
}

.ant-layout-header .ant-menu-title-content,
.ant-layout-header .ant-menu-overflow-item,
.ant-layout-header .dragger {
  -webkit-app-region: no-drag;
}

.ant-layout-header .ant-pro-global-header-collapsed-button {
  -webkit-app-region: no-drag;
}

.assetContainer :where(.css-dev-only-do-not-override-qnu6hi).ant-affix,
.userContainer :where(.css-dev-only-do-not-override-qnu6hi).ant-affix {
  padding-block-start: 55px;
}

:where(.css-dev-only-do-not-override-1wmv0zb).ant-drawer .ant-drawer-mask {
  position: fixed !important;
}

.ant-drawer-content-wrapper {
  position: fixed !important;
}

.srollBar::-webkit-scrollbar {
  width: 6px;
}

.srollBar::-webkit-scrollbar-thumb {
  background-color: #d5e3ed;
  border-radius: 10px;
}

.noSrollBar::-webkit-scrollbar {
  width: 2px;
}

.noSrollBar::-webkit-scrollbar-thumb {
  background-color: #d5e3ed;
  border-radius: 10px;
}

.signIn .ant-pro-page-container .ant-pro-page-container-warp-page-header .ant-page-header-heading {
  display: none;
}

.createQuestion :where(.css-dev-only-do-not-override-49qm).ant-card .ant-card-body {
  padding: 10px 15px;
}

.createQuestion :where(.css-dev-only-do-not-override-49qm).ant-card .ant-card-head {
  padding: 0 20px;
  min-height: 30px;
}

.createQuestion .ql-toolbar.ql-snow {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.createQuestion .ql-container.ql-snow {
  min-height: 220px;
}

.createQuestion .ql-editor .ql-blank {
  min-height: 220px;
}

.createQuestion .BCE .ql-container.ql-snow {
  min-height: 250px;
}

.createQuestion .BCE .ql-editor .ql-blank {
  min-height: 250px;
}

.BMap_cpyCtr span {
  display: none;
  opacity: 0;
}
