.testMain {
    background-color: #f2f4f7;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 95vh;
    border-radius: 6px;

    &__center {
        width: 95%;
        margin: 0 auto;
        background-color: white;

        &-title {
            width: 100%;
            border-bottom: 1px dashed rgb(229, 229, 230);
            justify-content: space-between;
            padding: 8px 15px;
            color: rgb(28, 28, 28);
            font-size: 17px;
            display: flex;
            letter-spacing: 2px;

            &-main {
                font-size: 14px;
                color: rgb(128, 128, 128);
                margin-left: 8px;
            }
        }
    }

    &__conten {
        background-color: white;
        width: 95%;
        margin: 0 auto;
        padding: 8px 15px;
        font-size: 14px;
        color: rgb(164, 159, 159);

        &-title {
            display: flex;
            align-items: center;

            &-color {
                color: rgb(39, 38, 38);
            }

            &-subtitle {
                margin-left: 10px;
            }

            &-delete {
                margin-left: 15px;
                color: royalblue;
            }
        }
    }

    &__mainConten {
        color: rgb(28, 28, 28);

        &-show {
            margin-top: 5px;
        }
    }

    &__link {
        background-color: white;
        width: 95%;
        margin: 0 auto;
        padding: 8px 15px;
        font-size: 14px;
        color: rgb(164, 159, 159);

        &-main {
            width: 98%;
            background-color: #f5f7fc;
            margin: 0 auto;
            border-radius: 5px;
            padding: 6px 8px;
            display: flex;
            align-items: center;

            img {
                width: 80px;
            }

            &-homework {
                margin-left: 10px;
            }
        }
    }
}

.testMainshow {
    background-color: white;
    border-radius: 6px;
    width: 95%;
    margin: 0 auto;
    min-height: 85vh;
}