.message {
    width: 100%;
    background-image: url("../../img/back.png");
    padding-bottom: 10px;
    padding-top: 10px;

    &__main {
        background-color: rgba(255, 255, 255, 0.5);
        height: 94vh;
        width: 96%;
        border-radius: 6px;
        margin: 0 auto;
        display: flex;
        overflow-y: scroll;

        &-left {
            width: 20%;
            height: 100%;
            border-right: 1px dashed #a0cceb;

            &-title {
                background-color: white;
                color: rgb(114, 112, 112);
                padding: 10px 8px;
                font-size: 13px;
            }

            &-content {
                height: 100%;
                overflow-y: scroll;
            }
        }

        &-right {
            width: 80%;
            height: 100%;
            &-iconmessage{
                width: 40%;
                margin: 0 auto;
                text-align: center;
                color: rgb(183, 182, 182);
                // height: 40%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

    }
}

.listmessage {
    padding: 6px 10px;
}

.hoverIcon {
    position: relative;

    &__icon {
        display: none;
        position: absolute;
        top: 30%;
        right: 0;
        transition: opacity 0.3s ease, transform 0.3s ease; // 添加过渡效果
        opacity: 0;
        transform: scale(0.8); 
    }
}

.hoverIcon:hover {
    cursor: pointer;
    .hoverIcon__icon {
        display: block; 
        opacity: 1; 
        transform: scale(1); 
    }
}
.rightDraw{
    padding-top: 20px;
}
.drawBtnShare{
    float: right;
}
.peopleTitle{
    float: right;
}
.grouplistMain{
    padding: 12px;
    border-radius: 6px;
    border: 1px dashed #1677ff;
}
.ant-descriptions-header{
    padding-bottom: 10px;
    border-bottom: 1px dashed #1677ff;
}
.groupList{
    display: flex;
    &__avater{
        margin-left: 10px;
    }
}